@import "./styles/main";

.title{
  display: inline-block;
  font-weight: 800;
  font-size: 1.5em;
  margin: 0.1em 0 0.5em 0;
  position: relative;
  color: rgba($grey4, 0.5);
  z-index: 1;
  text-transform: uppercase;

  &:before, &:after{
    position:absolute;
    content: attr(data-title);
    transform-origin: top left;
    top:0;
    left:0;
  }
}
.title, .title:before, .title:after{
  transition: all 0.3s ease-in-out;
}
.title:before{
  color: $white1;
  text-shadow:
          -1px 0px 1px rgba($white1,.8),
          1px 0px 1px rgba($black1,.8);
  z-index: 3;
  transform:
          rotateX(0deg)
          rotateY(-15deg)
          rotateZ(0deg);
}
.title:after{
  color: rgba(0,0,0,.11);
  z-index:2;
  transform:
          scale(1.08,1)
          rotateX(0deg)
          rotateY(0deg)
          rotateZ(0deg)
          skew(0deg,1deg);
}
.title:hover:before{
  color: #fafafa;
  transform:
          rotateX(0deg)
          rotateY(-40deg)
          rotateZ(0deg);
}
.title:hover:after{
  transform:
          scale(1.08,1)
          rotateX(0deg)
          rotateY(40deg)
          rotateZ(0deg)
          skew(0deg,22deg);
}

.title::before{
  color: #fff;
  text-shadow:
          -1px 0px 1px rgba(255,255,255,.8),
          1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
          rotateX(0deg)
          rotateY(-5deg)
          rotateZ(0deg);
}

.addNoteContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.newNote {
  width: 502px;
  position: relative;
}

.pinButtonContainer {
  position: absolute;
  top: 10px;
  right: 10px;
}

.pinButton {
  transition: all 0.3s ease-in-out;
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
  background: url("./images/pin.png") no-repeat;
  width: 80px;
  height: 60.5px;
  background-size: 100%;
  opacity: 0.7;

  .buttonText {
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    transition: all 0.3s ease-in-out;
    opacity: 1;

    .buttonText {
      opacity: 1;
    }
  }
}

.buttonText {
  width: 20px;
  position: absolute;
  right: 8px;
  top: 8px;
  letter-spacing: 1px;
  font: $semibold10;
  color: $white1;
}

.text {
  width: 300px;
  overflow:hidden;
  background-color:#FFF;
  color:#222;
  font-family: Courier, monospace;
  font-weight:normal;
  font-size:24px;
  resize:none;
  line-height:40px;
  padding-left:100px;
  padding-right:100px;
  padding-top:45px;
  padding-bottom:34px;
  background-image:url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png);
  background-repeat:repeat-y, repeat;
  -webkit-border-radius:12px;
  border-radius:12px;
  -webkit-box-shadow: 0 2px 14px #000;
  box-shadow: 0 2px 14px #000;
  border-top:1px solid #FFF;
  border-bottom:1px solid #FFF;
  &:focus {
    outline: none;
  }
}

.pinboard {
  display: block;
  margin: 0;
  padding: 0;
  background: url("./images/pinboard.png") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  text-align: center;
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
}

.notes {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

@media only screen and (max-width: 576px) {
  .newNote {
    width: calc(100% - 40px);
    min-width: 280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}